{%extends 'base.html'%}
<!-- Block head content -->
{%block head%}
<title>the NetNest</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}" />
{%endblock%}
<!-- Block body content -->
{%block body%}
<div class="container">
  <p class="title">Sign-In</p>
  <div class="form">
    <form class="auth-form" , method="POST">
      <p class="sub-title">Name</p>
      <input
        type="text"
        name="user_handle"
        id="user_handle"
        class="user-handle-input"
      />
      <p class="sub-title">Password</p>
      <input
        type="text"
        name="user_password"
        id="user_password"
        class="user-password-input"
      />
      <input class="form-btn" type="submit" value="Login" />
    </form>
    <form class="auth-form" action="/signup/" method="POST">
      <input class="form-btn" type="submit" value="Sign Up" />
    </form>
  </div>
</div>
{%endblock%}
