{% extends 'layout.html' %} {% block head %}
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}" />
{% endblock %}

<!-- HTML body -->
{% block body %}

<div class="page-header">
  <!-- <h1>netnest/home</h1> -->
  <h1>Good evening {{username}} 👋</h1>
  <div class="profile-header">
    <!-- An optional index redirect link to logout -->
    <form action="/">
      <button class="menu-button">
        <!-- <span class="material-symbols-outlined"> menu </span> -->
        ⚙️
      </button>
    </form>
  </div>
</div>

<!-- Form input for new post -->

<!-- Div for every post in existance 🙂 -->
<div class="container">
  <form action="/newpost" , method="post" class="new-post-container">
    <input
      class="new-post-entry"
      required
      autocomplete="off"
      autofocus
      type="text"
      name="post_content"
      placeholder="1 min to type 🏃"
    />
    <!-- <input class="new-post-button" type="submit" value="POST" /> -->
    <button class="new-post-button">🚀</button>
  </form>
  {% for post in posts %}
  <div class="post-container">
    <!-- post_id -->
    <!-- <p>{{post[0]}}</p> -->
    <!-- username of sender -->
    <div class="post-user-options">
      <p class="post-sender">@{{post[1]}}</p>
      <!-- give an option to delete the post for the user -->
      <div class="post-user-forms">
        <form action="/reportpost" method="get" class="report-post-form">
          <input type="hidden" name="post_id" value="{{post[0]}}" />
          <button class="report-post-button">😡</button>
        </form>
        {% if username == post[1] %}
        <form action="/deletepost" method="get" class="delete-post-form">
          <input type="hidden" name="post_id" value="{{post[0]}}" />
          <button class="delete-post-button">🗑️</button>
        </form>
        {% else %} {% endif %}
      </div>
    </div>
    <!-- content of post -->
    <p class="post-content">{{post[2]}}</p>
    <!-- time of post -->
    <p class="post-details">{{post[3].strftime("%H:%M • %m/%d/%Y")}}</p>
  </div>
  {% endfor %}
</div>

<script>
  setInterval(function () {
    location.reload();
  }, 60000);
</script>
{% endblock %}
