{% extends 'layout.html' %}

<!-- HTML body -->
{% block body %}

<h1>netnest/home</h1>
<p>Logged in as {{username}}</p>
<!-- An optional index redirect link to logout -->
<form action="/">
  <button>Profile Options</button>
</form>

<!-- Form input for new post -->
<p>form input for new post</p>
<form action="/newpost" , method="post">
  <input
    required
    autocomplete="off"
    autofocus
    type="text"
    name="post_content"
    placeholder="What's Happening"
  />
  <input type="submit" value="POST" />
</form>

<!-- Div for every post in existance 🙂 -->
{% for post in posts %}
<div
  style="
    border: 2px black solid;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
  "
>
  <!-- post_id -->
  <p>{{post[0]}}</p>
  <!-- username of sender -->
  <p>{{post[1]}}</p>
  <!-- content of post -->
  <p>{{post[2]}}</p>
  <!-- time of post -->
  <p>{{post[3]}}</p>

  <!-- give an option to delete the post for the user -->
  {% if username == post[1] %}
  <form action="/deletepost" method="get">
    <input type="hidden" name="post_id" value="{{post[0]}}" />
    <button>Delete Post</button>
  </form>
  {% else %} {% endif %}
</div>
{% endfor %} {% endblock %}
